@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");

:root {
  --primary-clr: rgba(228, 228, 229, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito" ,sans-serif;
}
body{
    background:url(https://raw.githubusercontent.com/erfanz124/MusicPlayer/refs/heads/main/10.jpg) ; 
    background-size: cover;
    padding: relative;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    animation: slidein 120s forwards infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} 
.albom{
    width: 90%;
}
.swiper{
    width: 100%;
    padding: 40px 0 100px;
}